.bg-footer-top {
  background-color: #eaebf4 !important;
}

.bg-footer-bottom {
  background-color: #424242 !important;
}

.text-footer {
  text-align: center;
  color: white !important;
  font-weight: 300;
}

@media (max-width: 768px) {
  .post-footer {
    padding: 0px 25px !important;

    flex-direction: column;
    text-align: left;
  }
}
