/* ==== Navigation ==== */

.bg-nav{
  background-color: #F2F2F2 !important;
}

.shadow-border {
  box-shadow: 0 .325rem .35rem rgba(0,0,0,.075) !important;
}

.nav-item {
  font-size: 18px;
}

.nav-item > .active {
  font-weight: 500;
}

.nav-item > .nav-link {
  padding: 11px 0;
}

.nav-item > .nav-link:hover {
    font-weight: 500;
}